.App {
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  max-width: 70%;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  background: #c9ccd3;
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-blend-mode: lighten;
}
.current {
  width: 90%;
}
form {
  padding-bottom: 30px;
}
.citySearch {
  text-align: left;
  line-height: 30px;
}
.searchBar {
  width: 65%;
  text-align: center;
  margin: 10px 10px 10px 0;
  border-radius: 10px;
}
.searchButton {
  margin: 10px 10px 10px 0;
  text-align: center;
  border-radius: 10px;
  width: 15%;
}
.searchButton:hover {
  background-color: #84a9ac;
  transition: all 200ms ease-in-out;
}
.currentButton {
  text-align: center;
  border-radius: 10px;
  width: 15%;
}
.currentButton:hover {
  background-color: #84a9ac;
  transition: all 200ms ease-in-out;
}
.current {
  width: 90%;
}
.currentInfo {
  line-height: 60px;
  padding: 10px;
}
.currentCity {
  font-size: 36px;
}
#weather-icon {
  font-size: 72px;
}
#updated {
  line-height: 16px;
  font-size: 16px;
}
#current-day {
  line-height: 40px;
  font-size: 24px;
}
#current-temp {
  font-size: 68px;
  font-weight: 400;
}
#degree {
  font-size: 68px;
  font-weight: 400;
}
.unit {
  position: relative;
  top: -18px;
  font-size: 40px;
  font-weight: 500;
  text-decoration: underline;
}
.unitSlash {
  position: relative;
  top: -18px;
  font-size: 40px;
  font-weight: 500;
}
.unit:hover {
  cursor: pointer;
  color: #84a9ac;
}
.emojiDescription {
  font-size: 28px;
}
.emojiDescription:first-letter {
  text-transform: capitalize;
}
.highLowMajor {
  font-size: 24px;
}
.forecast {
  margin: 20px 0 20px 0;
}
ul {
  margin: 0;
}
li {
  list-style: none;
}
.forecastTime {
  font-size: 60px;
  font-weight: 800;
}
.forecastIcon {
  font-size: 54px;
}
.codeLink {
  position: relative;
  left: -15px;
  top: 15px;
  text-align: left;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}
